html {
    background-color: #e6ecf1;
    font-family: sans-serif;
}

img {
    overflow: hidden;
    object-fit: cover;
    object-position: 50% 50%;
}

a:visited { text-decoration: none; color: unset}

body {
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

.clear {
    clear: both;
}

h1 {
    margin: 1rem 0;
    font-size: 3rem;
}
