---
import { Picture } from "astro:assets";
import bioImage from "../images/tom-headshot.jpeg";
---

<style>
    .about-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .bio-image-container {
        width: 40%;
        display: flex;
        justify-content: center;
    }
    .bio-text-container {
        width: 60%;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    @media screen and (max-width: 700px) {
        .bio-image-container {
            width: 100%;
        }
        .bio-text-container {
            width: 100%;
        }

    }
</style>

<div id="about">
    <div class="about-container">
        <div class="bio-image-container">
            <Picture
                src={bioImage}
                widths={[400, 500, 600]}
                sizes="(max-width: 700px) 100vw, 40vw"
                pictureAttributes={{ style: "display: grid" }}
                loading="lazy"
                style={{ height: "auto", justifySelf: "center" }}
                alt="Tom Skoog holding a pair of skis in the mountains"
            />
        </div>
        <div class="bio-text-container">
            <h2>About Me</h2>
            <p>
                My name is Tom Skoog. I'm a lifelong Seattleite who has spent
                much of my life skiing and climbing throughout the Cascade
                Range. Growing up, I was incredibly fortunate to benefit from
                quality mentorship in the outdoors--an experience I believe
                everyone deserves access to.
            </p>
            <p>
                To me, climbing is an art--a unique blend of place, people, and
                our individual interpretations of adventure. Each climber brings
                their own perspective, creating something entirely their own. At
                the same time, the skills required for climbing are more like a
                craft. With the right guidance and consistent, mindful practice,
                anyone can master them.
            </p>
            <p>
                That's where I come in. My goal is to help you build a
                rock-solid foundation of climbing skills so you can confidently
                create your own adventure. Let's get started!
            </p>
        </div>
    </div>
</div>
