---
import BaseLayout from "../layouts/BaseLayout.astro";


---

<body>
  <BaseLayout title="Blog">
    <div id="blog">
      <h2>Blog</h2>
      <p>
        Welcome to the Alpenglow Guiding blog! Here, you'll find stories,
        photos, and updates from our climbing adventures in the Cascades and
        beyond. Check back often for the latest news!
      </p>
    </div>
  </body>
