---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<body>
  <BaseLayout title="Blog">
    <div id="blog">
      <h2>Blog</h2>
      <p>
        Welcome to the Alpenglow Guiding blog! Here, you'll find stories,
        photos, and updates from our climbing adventures in the Cascades and
        beyond. Check back often for the latest news!
      </p>
      <ul>
        <li><a href="/posts/12052024-accidents-review">Post 1</a></li>
        <li><a href="/posts/12032024-snoqualmie-pass-observations">Post 2</a></li>
      </ul>
    </div>
  </body>
