---
import ContactForm from "../components/ContactForm";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Contact"
  description="">
  <h1>Contact</h1>
  <p>
    If you have any questions or would like to book a trip, please fill out the form below.
  </p>
  <ContactForm client:load />
</BaseLayout>
