---
import ContactForm from "../components/react/ContactForm";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Contact"
  description="Use this form to contact Alpenglow Guiding. We're happy to answer any questions you may have, book a trip, or schedule an instructional session.">
  <h1>Get in touch!</h1>
  <p>
    If you have any questions or would like to book a trip, please fill out the form below.
  </p>
  <ContactForm client:load />
</BaseLayout>
