---
import ContactForm from "../components/ContactForm";
import Programs from "../components/Programs.astro";
import AboutTom from "../components/AboutTom.astro";
import LandingHero from "../components/LandingHero.astro";
import Certifications from "../components/Certifications.astro";
import Footer from "../components/Footer.astro";
---

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta charset="utf-8" />
	<meta name="generator" content={Astro.generator} />
	<title>Alpenglow Guiding</title>
	<style>
		body {
			font-family: sans-serif;
			margin: 0;
			padding: 0;
		}
		.bio-image {
			width: 50%;
			float: left;
		}
		hr {
			clear: both;
		}
	</style>
</head>
<body>
	<LandingHero />
	<hr />
	<Programs />
	<hr />
	<AboutTom />
	<hr />
	<Certifications />
	<hr />
	<ContactForm client:load />
	<hr />
	<Footer />
</body>
