---
import { Image } from "astro:assets";
import heroImage from "../images/mazama-23-00571.jpg";
---

<head>
	<style>
		body {
			font-family: sans-serif;
			margin: 0;
			padding: 0;
		}
		img {
			width: 100%;
			height: auto;
		}
	</style>
</head>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Alpenglow Guiding</title>
	</head>
	<body>
		<Image src={heroImage} alt="Climber at Phun Rock" />
		<h1>Alpenglow Guiding</h1>
		<h2>Learn to climb high, light and free.</h2>
		<hr>
		<div>
			<h2>Our Programs</h2>
			<ul>
				<li>
					<strong>Single-Pitch Rock</strong>
					<p>Learn the skills to climb safely and enjoyably at crags the world over.</p>
				</li>
				<li>
					<strong>Multi-Pitch Rock</strong>
					<p>Get some air under your feet! Our  programs will teach you how to climb multi-pitch routes and get down safe. </p>
				</li>
				<li>
					<strong>Rock Rescue</strong>
					<p>What happens if something goes wrong? Learn the skills to rescue a partner or yourself. Our courses will be tailored to your preferred style of climbing. </p>
				</li>
			</ul>
		</div>
		<hr>
		<div>
		</div>
		<footer>
			<p>Seattle, WA 98117</p>
			<p>
				<a href="mailto:tom@alpenglowclimbing.com">
					tom@alpenglowclimbing.com</a
				>
			</p>
		</footer>
	</body>
</html>
