---
import { Image } from "astro:assets";
import heroImage from "../images/hero-image.jpg";
import bioImage from "../images/tom-headshot.jpg";
import ContactForm from "../components/ContactForm";
import Programs from "../components/Programs.astro";
import AboutTom from "../components/AboutTom.astro";
---

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta charset="utf-8" />
	<meta name="generator" content={Astro.generator} />
	<title>Alpenglow Guiding</title>
	<style>
		body {
			font-family: sans-serif;
			margin: 0;
			padding: 0;
		}
		img {
			width: 100%;
			height: auto;
			max-width: 50rem;
		}
		.bio-image {
			width: 50%;
			float: left;
		}
		hr {
			clear: both;
		}
	</style>
</head>
<body>
	<div>
		<Image
		class="hero-image"
		src={heroImage}
		alt="Climber at Phun Rock"
		/>
		<h1>Alpenglow Guiding</h1>
		<h2>Learn to climb high, light and free.</h2>
	</div>
	<hr />
	<Programs />
	<hr />
	<div>
		<AboutTom />
	</div>
	<hr />
	<div>
		<h2>Certifications</h2>
		<ul>
			<li>
				<p>
					NREMT: Emergency Medical Technician & Wilderness First
					Responder
				</p>
			</li>
			<li>
				<p>AMGA: Apprentice Rock Guide & Apprentice Alpine Guide</p>
			</li>
			<li><p>A3: Recreational Level 2 & Partner Rescue Course</p></li>
		</ul>
	</div>
	<hr />
	<div>
		<h2>Contact</h2>
		<ContactForm client:load/>
	</div>
	<footer>
		<p>Seattle, WA 98117</p>
		<p>
			<a href="mailto:tom@alpenglowclimbing.com">
				tom@alpenglowclimbing.com</a
				>
			</p>
		</footer>
	</body>
	</html>
