---
import { Image } from "astro:assets";
import bioImage from '../images/tom-headshot.jpg';
---
<div id="about" style="display: grid;">
<h2>About Me</h2>
<Image
src={bioImage}
style={{ height: 'auto', width: '70%', justifySelf: 'center' }}
alt="Tom Skoog holding a pair of skis in the mountains"
/>
<p>
    My name is Tom Skoog. I'm a lifelong Seattleite who has spent
    much of my life skiing and climbing throughout the Cascade
    Range. Growing up, I was incredibly fortunate to benefit from
    quality mentorship in the outdoors--an experience I believe
    everyone deserves access to.
</p>
<br />
<p>
    To me, climbing is an art--a unique blend of place, people, and
    our individual interpretations of adventure. Each climber brings
    their own perspective, creating something entirely their own. At
    the same time, the skills required for climbing are more like a
    craft. With the right guidance and consistent, mindful practice,
    anyone can master them.
</p>
<br />
<p>
    That's where I come in. My goal is to help you build a
    rock-solid foundation of climbing skills so you can confidently
    create your own adventure. Let's get started!
</p>
</div>
