---
import { Image } from "astro:assets";
import validateMediaPath from "../lib/validateMediaPath";
let { src, alt } = Astro.props;

const BLOGIMAGES_DIR = "/blogimages/";

validateMediaPath(BLOGIMAGES_DIR, "webp", src)
---

<style>
    .post-image {
        max-height: 600px;
        max-width: fit-content;
    }
    .post-image-container {
        display: flex;
        justify-content: center;
    }
</style>

<div class="post-image-container">
    <Image
        class="post-image"
        width={600}
        height={400}
        src={BLOGIMAGES_DIR + src}
        alt={alt}
    />
</div>
