---

---

<style>
    footer {
        display: flex;
        justify-content: space-between;
    }

    footer div {
        margin-top: 10px;
    }
    .footer-left {
        flex: 1;
    }

    .footer-right {
        flex: 1;
        text-align: end;
    }


    @media screen and (max-width: 500px) {
        footer {
            flex-direction: column;
            text-align: center;
        }

        .footer-left {
            flex: 1;
            text-align: center;
        }

        .footer-right {
            flex: 1;
            text-align: center;
        }
    }
</style>
<hr />
<footer>
    <div class="footer-left">
        <span><strong>Contact us to learn more about our programs.</strong></span>
    </div>
    <div class="footer-right">
        <span>(206)-697-3966</span>
        <br />
        <span
        ><a href="mailto:info@alpenglowguiding.com"
        >info@alpenglowguiding.com</a
        ></span
        >
        <br />
        <span>Based in Seattle, WA 98117</span>
    </div>
</footer>
