---
import SetmoreButton from "./SetmoreButton.astro";


---

<style>
    nav {
        width: 100%;
        top: 5rem;
        padding: 15px 20px;
        display: none;
        margin: 0;
    }
    nav a {
        border-radius: 10px;
        display: block;
        text-align: center;
        padding: 10px 0;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
        text-decoration: none;
        color: unset;
    }

    nav a:hover {
        background-color: #c3c3c3;
    }

    .hamburger-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .hamburger {
        display: flex;
        flex: 1;
        justify-content: flex-end;
    }

    .hamburger span {
        display: block;
        margin: 10px;
        padding: 8px;
        cursor: pointer;
        border: 3px solid #5a5a5a;
        border-radius: 10px;
    }

    @media screen and (max-width: 636px) {
        .expanded {
            display: unset;
        }
    }

    @media screen and (min-width: 636px) {
        nav {
            display: flex;
            position: sticky;
            top: 0;
            padding: 15px;
            z-index: 1;
            background: #e6ecf1;
            width: 100%;
            filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
        }

        nav a {
            display: inline-block;
            padding: 15px 20px;
        }

        .hamburger {
            display: none;
        }

        nav a {
            display: block;
        }

        .nav-left {
            display: flex;
            flex: 1;
        }

        .nav-right {
            display: flex;
            flex: 1;
            justify-content: flex-end;
        }
    }
</style>
<script>
    document.querySelector(".hamburger")?.addEventListener("click", () => {
        document.querySelector("nav")?.classList.toggle("expanded");
    });
</script>

<div class="hamburger-wrapper">
    <div class="hamburger">
        <span>menu</span>
    </div>
</div>

<nav>
    <div class="nav-left">
        <span><a href="/">Home</a></span>
    </div>
    <div class="nav-right">
        <span>
            <a class="nav-right" href="/blog/">Blog</a>
        </span>
        <span>
            <a class="nav-right" href="/contact">Contact Us</a>
        </span>
        <span>
            <SetmoreButton />

        </span>
    </div>
</nav>
