---
import { Picture } from "astro:assets";
import heroImage from "../images/hero-image.jpg";
---

<style>
    .container {
        height: 100%;
        width: auto;
        position: relative;
        text-align: center;
        color: white;
        overflow: hidden;
    }
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .darkened-image {
        filter: brightness(0.5);
        min-height: 600px;
    }
</style>
<div class="container">
    <Picture
        src={heroImage}
        alt="Climber at Phun Rock"
        widths={[400, 800, 1200]}
        class="darkened-image"
        loading={"eager"}
    />
    <div class="centered">
        <h1>Alpenglow Guiding</h1>
        <h2>Learn to climb high, light and free.</h2>
    </div>
</div>
