---
import { Picture } from "astro:assets";
import heroImage from "../images/hero-image.jpg";
---

<style>
    .container {
        height: 100%;
        width: auto;
        position: relative;
        text-align: center;
        color: white;
        overflow: hidden;
    }
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .darkened-image {
        filter: brightness(0.5);
    }
</style>
<div class="container">
    <Picture
        src={heroImage}
        alt="Climber at Phun Rock"
        width={1200}
        height={800}
        densities={[1, 1.25, 1.5, 1.75, 2]}
        pictureAttributes={{
            style: "position: relative;bottom: 10%",
        }}
        class="darkened-image"
        loading={"eager"}
    />
    <div class="centered">
        <h1>Alpenglow Guiding</h1>
        <h2>Learn to climb high, light and free.</h2>
    </div>
</div>
