---
import { Image } from "astro:assets";
import heroImage from "../images/hero-image.jpg";
---
<Image
		class="hero-image"
		src={heroImage}
		alt="Climber at Phun Rock"
		/>
		<h1>Alpenglow Guiding</h1>
		<h2>Learn to climb high, light and free.</h2>
