---
const title = "Our Programs";

const allPrograms = Object.values(import.meta.glob('../pages/programs/*.md', { eager: true }));
---

<div>
    <h2>{title}</h2>
    <ul>
        {allPrograms.map((post: any) => (
            <li><strong>{post.frontmatter.title}</strong></li>
            <p>{post.frontmatter.description}</p>
        ))}
    </ul>
</div>
