---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---
<BaseLayout title={frontmatter.name} description={frontmatter.description}>
    <article>
        <h1>{frontmatter.name}</h1>
        <div class="program-information">
            <p><em>{frontmatter.description}</em></p>
        </div>
        <slot />
    </article>
</BaseLayout>
