---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
    <article>
        <h1>{frontmatter.title}</h1>
        <p><em>{frontmatter.description}</em></p>
        <slot />
    </article>
</BaseLayout>
